$main-color: white;
$dark-blue: #39898d;
$light-blue: #a6d1da;
$line-color: #c5b7b5;

$text-color: #5e565c;

$paragraph-font: 'Questrial', Helvetica, Arial, sans-serif;
$heading-font: 'Poiret One', Helvetica, Arial, sans-serif;

