<section id="section-about">
     <h2 class="hidden">About section</h2>

    <div class="about-text">
        <div class="about-headline">
            <h1>A BIT OF INFORMATION ABOUT ME</h1>
        </div>
        <div class="about-article">
            <p>My name is Olha, since 
            childhood I’ve been creating 
            things around me and from that 
            time I understood that this 
            sphere will become my 
            profession. I have a background 
            in Interior design and Architecture, 
            but in the last couple of years, 
            I focused on Graphic design and 
            Web development. I love all kinds 
            of visual design, mobile and web 
            projects, typography, branding 
            and animation. With my 
            experience in design, 
            I know how to make a standing 
            out and eye-catching design.</p>
        </div>
    </div>

    <div class="about-photo">
        <img src="images/olha_photo.png" alt="olha boiko photo" class="photo-olha">
    </div>
</section>