
<section id="section-contacts">

    <div class="cont-text">
        <div class="cont-heading">
            <h1>CONTACT ME</h1>
        </div>
        <div class="cont-article">
            <p>I’ll combine all my knowledge to 
                make something great with you! 
                If you have any questions, offer of 
                cooperation or feedback, 
                please leave a message here and 
                I will respond to you in two days!</p>
        </div>
    </div>
    <div class="contact-form">
        <form id="contactForm" action="">

            <div class="formIn">
				<input type="text" required id="name" name="name" size="32" placeholder="Your Name" class="formInput formName">
			</div>
		
            <div class="formIn">
				<input type="email" name="usermail" required id="emailAddress" size="32" placeholder="Your Email" class="formInput formEmail">
			</div>

            <div class="formIn">
				<textarea id="comments" name="message" rows="5" cols="33" placeholder="Message" class="formInput formText"></textarea>
			</div>

            <div id="buttonForm">
				<input class="buttonFormOne"  name="button1" type="submit" value="Send">
			</div>

		</form>
    </div>
    
</section>